{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="roundedrec">
                    <div class="insiderec">
                        <div class="row">
                            <div class="col-sm-6 signup-form">
                                <p class="judul gantijudul">Subscriber Form Registration</p>
                                <form class="form_input" method="POST" class="isi">
                                    {% csrf_token %}
                                    <div style="color: #161670" class="validate-input" data-validate="Name is required">
                                        {{ form.name.label_tag }}
                                        {{ form.name }}
                                    </div>
                                    <div style="color: #161670" class="validate-input" data-validate="Valid email is required" data-validate2="Email already registered">
                                        {{ form.email.label_tag }}
                                        {{ form.email }}
                                    </div>
                                    <div style="color: #161670" class="validate-input" data-validate="Password is required">
                                        {{ form.password.label_tag }}
                                        {{ form.password }}
                                    </div>
                                    <input disabled=true class="submit" id="submit_subscribe" type="submit" value="Register">
                                    <br><br>
                                </form>
                            </div>
                            <div class="col-sm-6">
                                <img style="width: 100%" src="{% static 'img/subscribe.png' %}" alt="subscribe image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="roundedrec">
                    <div class="insiderec">
                        <div class="row">
                            <div class="col-sm-12 refresh">
                                <p class="judul">List Subscriber</p>
                                <div class="table-responsive">
                                    <table id="demo" class="table" style="font-size: 15px;">
                                        <thead>
                                            <tr class="table text-center">
                                                <th scope="col" class="align-middle">No</th>
                                                <th scope="col" class="align-middle">Name</th>
                                                <th scope="col" class="align-middle">Email</th>
                                                <th scope="col" class="align-middle"></th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style type="text/css">
        label {
            margin-right: 0.7em; /* or larger if you need */
            margin-bottom: -em;
        }
    </style>
{% endblock %}