{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="col-sm-12">
        <div class="roundedrec">
            <div class="insiderec">
                <p class="judul">Agenda</p>
                <table style="width:100%">
                    {% if agendas %}
                        <tr>
                            <th>Activity</th>
                            <th>Day / Date</th>
                            <th>Time</th>
                            <th>Place</th>
                            <th>Category</th>
                        </tr>
                        {% for agenda in agendas %}
                            <tr>
                                <td>{{ agenda.activity }}</td>
                                <td>{{ agenda.day }} / {{ agenda.date }}</td> 
                                <td>{{ agenda.time }}</td>
                                <td>{{ agenda.place }}</td>
                                <td>{{ agenda.category}}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <h5>There's no upcoming events yet, have fun!</h5> 
                    {% endif %}
                </table>
                <br>
                <div class="row">
                    <div class="col-lg-12">
                        <a href="{% url 'create_agenda' %}" style="padding-right:15px">Create Agenda</a>
                        <a href="{% url 'delete_agenda' %}" class="btn btn-danger float-right" role="button" aria-pressed="true">Delete All</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}