{% load static %}

<!DOCTYPE html>
<html>
    
<head>
    <title>how r u?</title>
    <link rel="icon" href="{% static 'img/hi2.png' %}" type="image/gif" sizes="16x16">
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/lab6.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <a href="{% url 'profilegue' %}" class="btn btn-link btn-lg" role="button" style="color: white" aria-pressed="true">Profile</a>
    <div class="container-fluid h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-sm-6 text-center">
                <p id="id_title" class="text-white" style="font-size: 50px; text-align: center"><strong>Hello! How are you?</strong></p>
                <form action="{% url 'howru' %}" method="POST" class="w3-left-align isi">
                    {% csrf_token %}                    
                    {{ form }}
                    <input id="submit" type="submit" value="Share it to the world!">
                </form>
            </div>
            <div class="col-sm-6">
                <div class="roundedrec">
                    <div class="insiderec">
                        <p class="judul">What they feel</p>
                        <table style="width:100%">
                            {% if kabar2 %}
                                {% for kabar in kabar2 %}
                                    <tr>
                                        <td>{{ kabar.mood }}</td>
                                        <td>{{ kabar.created_at }}</td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <h5>No Response</h5> 
                            {% endif %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>