{% load static %}

<!DOCTYPE html>
<html>
    
<head>
    <title>profile gue</title>
    <link rel="icon" href="{% static 'img/hi2.png' %}" type="image/gif" sizes="16x16">
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
    <div class="container h-50">
		<div class="row h-100 justify-content-center align-items-center">
			<p class="text-white" style="font-size: 50px;"><strong>Profile</strong></p>
		</div>
	</div>
	
	<div class="container-fluid">
		<div class="row content">
			<div class="col-sm-3 sidenav">
				<div class="text-center img-overlay">
					<img class="avatar"src="{% static 'img/ava.jpg' %}" class="img-fluid" alt="myFace">
					<p style="margin-top: 10px; margin-bottom: 0px; font-size: 22px"><strong>Roshani Ayu Pranasti</strong></p>
                    <p style="margin-bottom: 22px;font-size: 14px">
                        Computer Science Student at<br>
                        Universitas Indonesia
                    </p>
					<hr>
					<div>
						<a href="https://www.instagram.com/astiroshani/"> <img src="{% static 'img/instagram.png' %}" alt="Instagram"> </a>
						<a href="https://twitter.com/astiroshani"> <img src="{% static 'img/twitter.png' %}" alt="Twitter"> </a>
						<a href="https://www.facebook.com/astiroshani" > <img src="{% static 'img/facebook.png' %}" alt="Facebook"> </a>
						<a href="https://www.linkedin.com/in/roshani-ayu-pranasti/" > <img src="{% static 'img/linkedin.png' %}" alt="LinkedIn"> </a>
					</div>
					<hr>
					<a href="{% url 'howru' %}" class="btn btn-outline-secondary" role="button" aria-pressed="true">Hello!</a>
					<br><br><br><br>
				</div>
				<footer class="footer">
					<div class="container">
						<p>Roshani Ayu Pranasti © 2018</p>
					</div>
				</footer>
			</div>
	
	<!-- CONTENT -->
			<div class="col-sm-9">
				<div class="row">
					<div class="col-sm-6">
						<div class="roundedrec">
							<div class="insiderec">
								<p class="judul">Current position</p>
								<div class="row">
									<div class="col-sm-8">
										<p class="w3-left-align isi">
											UI & UX at <font color="#FA1466">adaTeman</font>
										</p>
										<p class="calloc">
										<img src="{% static 'img/loc.png' %}">
											Depok, Jawa Barat, Indonesia
										</p>
										<p class="calloc">
										<img src="{% static 'img/cal.png' %}">
											July 2018 - Present (3 months)
										</p>
									</div>
									<div class="col-sm-4">
										<br>
										<img class="img-fluid" src="{% static 'img/adaTeman.png' %}">
									</div>
								</div> 
							</div>
						</div>
						<div class="roundedrec">
							<div class="insiderec">
								<p class="judul">Education</p>
								<div class="row">
									<div class="col-sm-9">
										<p class="w3-left-align isi">
											Universitas Indonesia
										</p>
										<p class="calloc">
										<img src="{% static 'img/loc.png' %}">
											Bachelor’s Degree, Computer Science
										</p>
										<p class="calloc">
										<img src="{% static 'img/cal.png' %}">
											2017 - 2021
										</p>
									</div>
									<div class="col-sm-3">
										<img class="img-fluid" src="{% static 'img/ui.png' %}">
									</div>
									<hr style="width: 100%">
									<div class="col-sm-9">
										<p class="w3-left-align isi">
											Labschool Kebayoran High School
										</p>
										<p class="calloc">
										<img src="{% static 'img/loc.png' %}">
											High School Diploma, Natural Science
										</p>
										<p class="calloc">
										<img src="{% static 'img/cal.png' %}">
											2014 - 2017
										</p>
									</div>
									<div class="col-sm-3">
										<br>
										<img class="img-fluid" src="{% static 'img/labs.png' %}">
									</div>
									<hr style="width: 100%">
									<div class="col-sm-9">
										<p class="w3-left-align isi">
											Labschool Kebayoran Junior High School
										</p>
										<p class="calloc">
										<img src="{% static 'img/loc.png' %}">
											Junior High School Diploma
										</p>
										<p class="calloc">
										<img src="{% static 'img/cal.png' %}">
											2011 – 2014
										</p>
									</div>
									<div class="col-sm-3">
										<br>
										<img class="img-fluid" src="{% static 'img/labs.png' %}">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="roundedrec">
							<div class="insiderec">
								<p class="judul">Skills</p>
								<p class="w3-left-align isi">
									<div class="skillbar clearfix " data-percent="85%">
										<div class="skillbar-title" style="background: #FA1466;"><span>USER INTERFACE</span></div>
										<div class="skillbar-bar" style="background: #FA1466;"></div>
										<div class="skill-bar-percent"></div>
									</div> <!-- End Skill Bar -->
										
									<div class="skillbar clearfix " data-percent="80%">
										<div class="skillbar-title" style="background: #FA1466;"><span>USER EXPERIENCE DESIGN</span></div>
										<div class="skillbar-bar" style="background: #FA1466;"></div>
										<div class="skill-bar-percent"></div>
									</div> <!-- End Skill Bar -->
										
									<div class="skillbar clearfix " data-percent="95%">
										<div class="skillbar-title" style="background: #FA1466;"><span>GRAPHIC DESIGN</span></div>
										<div class="skillbar-bar" style="background: #FA1466;"></div>
										<div class="skill-bar-percent"></div>
									</div> <!-- End Skill Bar -->
										
									<div class="skillbar clearfix " data-percent="70%">
										<div class="skillbar-title" style="background: #FA1466;"><span>MOVIE EDITING</span></div>
										<div class="skillbar-bar" style="background: #FA1466;"></div>
										<div class="skill-bar-percent"></div>
									</div> <!-- End Skill Bar -->
										
									<div class="skillbar clearfix " data-percent="60%">
										<div class="skillbar-title" style="background: #FA1466;"><span>PYTHON</span></div>
										<div class="skillbar-bar" style="background: #FA1466;"></div>
										<div class="skill-bar-percent"></div>
									</div> <!-- End Skill Bar -->

									<div class="skillbar clearfix " data-percent="65%">
										<div class="skillbar-title" style="background: #FA1466;"><span>JAVA</span></div>
										<div class="skillbar-bar" style="background: #FA1466;"></div>
										<div class="skill-bar-percent"></div>
									</div> <!-- End Skill Bar -->
										
									<div class="skillbar clearfix " data-percent="75%">
										<div class="skillbar-title" style="background: #FA1466;"><span>HTML & CSS</span></div>
										<div class="skillbar-bar" style="background: #FA1466;"></div>
										<div class="skill-bar-percent"></div>
									</div> <!-- End Skill Bar -->
								</p>
							</div>
						</div>
						<div class="roundedrec">
							<div class="insiderec">
								<p class="judul">Summary</p>
								<p class="w3-justify isi">
									Hi! My name is Roshani Ayu Pranasti, Asti for short. I’m 19 years old. Welcome to my website and feel free to click around :)
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

<script>
	jQuery(document).ready(function(){
	jQuery('.skillbar').each(function(){
		jQuery(this).find('.skillbar-bar').animate({
			width:jQuery(this).attr('data-percent')
			},6000);
		});
	});
</script>

</html>